#clock {
    width: 300px;
    height: 300px;
    border: solid 15px #333;
    border-radius: 50%;
    margin: 0 37%;
    background: rgba(256, 256, 256, 0.25);
    cursor: pointer;
}

#dot {
    background: red;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 70%;
    left: 70%;
    display: none;
}

#spire {
    position: absolute;
}

#hour {
    position: relative;
    top: 35%;
    left: 50%;
    width: 5px;
    height: 60px;
    border-radius: 0 0 5px 5px;
    background: #333;
    z-index: 2;
    transform-origin: 2.5px 57.5px;
    transition: transform 2s ease;
}

#minute {
    position: relative;
    left: 50%;
    width: 5px;
    height: 105px;
    border-radius: 0 0 5px 5px;
    background: rgba(167, 139, 131, 1);
    z-index: 3;
    transform-origin: 2.5px 102.5px;
    transition: transform 1s ease;
}

#second {
    position: relative;
    top: -40%;
    left: 50%;
    width: 2.5px;
    height: 120px;
    border-radius: 0 0 2.5px 2.5px;
    background: rgba(231, 76, 60, 1);
    z-index: 4;
    transform-origin: 1.25px 118.75px;
    transition: transform .5s ease;
}

