@font-face {
    font-family: 'Press Start 2P';
    src: url("/web3-1.0-SNAPSHOT/resources/css/fonts/PressStart2P.ttf") format("truetype");
    font-weight:normal; font-style:normal;
}

body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    cursor: url("/web3-1.0-SNAPSHOT/resources/css/pics/cursor-default.png"), default;
}

a, #clock {
    cursor: url("/web3-1.0-SNAPSHOT/resources/css/pics/cursor-pointer.png"), pointer;
}

/*** HEADER ***/

#header {
    margin: 0%;
    padding-top: 5%;
    font-size: 60%;
    background: url("/web3-1.0-SNAPSHOT/resources/css/pics/result_header.png") center /100% 100% no-repeat;
    height: 130px;
    color: #e2bfef;
}

#header h1 {
    margin-top: 2%;
    padding-top: 2%;
}

#header h3 {

}

/*** CONTENT ***/
#content {
    background-color: rgb(25, 11, 23);
}

#linkToMainPage {
    padding: 3%;
}

/*** FOOTER ***/

.footer {
    margin: 0;
    display: inline-block;
    background: url("/web3-1.0-SNAPSHOT/resources/css/pics/footer_background.png") center /100% 100% no-repeat;
    width: 100%;
}

.footer-itmo-logo {
    margin-top: 3%;
    margin-left: 4%;
    margin-bottom: 3%;
    float: left;
    width: 30%;
}

.footer-text {
    float: left;
    color: #60b7ee;
    margin-top: 3%;
    margin-left: 0%;
    padding-left: 4%;
    width: 25%;
    font-size: 13px;
}

.footer-my-github-logo {
    float: right;
    margin-top: 3%;
    margin-left: 7%;
    padding-right: 5%;
    width: 21%;
}
